@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    background-color: #646464;
    height: 150px;
}

#container {
    background-color: #bb927c;
    padding: 1rem;
    border-radius: 50px 50px 0px 0px;

}

h1 {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}


#box {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    /* padding: 1rem; */
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    margin-top: 1.5rem;
    border-radius: 15px 15px 15px 15px;
}

#box-header {
    padding: 1rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box-info {
    padding: 1rem;
    background-color: #f1f1f1;
}

p {
    font-weight: 300;
    font-size: 14px;
}

#id {
    background-color: black;
    padding: 0.4rem;
    border-radius: 30px;
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#rover-photos {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

input {
    max-width: 100%;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
}

button {
    max-width: 100%;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #646464;
    height: 130px;
    text-align: center;
}