@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');

/* MOBILE FIRST - min  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* BODY */
body {
    min-height: 100vh;
    background-color: #272629;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
nav {
    padding: 2rem;
    text-align: center;
    background-image: url(/assets/images/space-background.jpg);
    background-size: cover;
    background-color: #999999;
    box-shadow: 0px 0px 50px rgb(255, 255, 255, 1.0);
}

/* HEADER */
header {
    padding: 1rem 2rem 0rem 2rem;
    text-align: center;
}

/* TEXT OCH STILAR */
h1 {
    color: #f1f1f1;
    text-shadow: 0px 0px 20px #000000;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    color: #f1f1f1;
    font-size: 24px;
}

p {
    font-weight: 300;
    font-size: 14px;
    color: #1f1f1f;
}

#p-header {
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgb(241, 241, 241, 0.1);
    border-radius: 20px;
    color: #f1f1f1;
}

#title {
    padding: 1rem;
}

#info {
    padding: 0.5rem 1rem 1rem 1rem;
    font-size: 13px;
    color: #f1f1f1;

}

details {
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #1f1f1f;
}

summary {
    background-color: #f1f1f1;
    font-weight: 400;
}

/* JAVASCRIPT DISPLAY-DIV */
#display-data {
    background-color: #343333;
    min-height: 100%;
    padding-bottom: 1rem;
}

/* APOD BILD */
#apod-img {
    max-width: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-top: 6px solid #f1f1f1;
    border-bottom: 6px solid #f1f1f1;
}

#img-info {
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;
    text-transform: uppercase;
}

/* FORMULÄRETS DELAR */
#searchForm {
    background-color: #272629;
    padding: 0rem 2rem 2rem 2rem;
    text-align: center;
}

#dateInput,
#searchButton {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

#dateInput {
    border: 2px solid #f1f1f1;
}

#searchButton {
    background-image: url(/assets/images/space-background.jpg);
    object-fit: fill;
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 5px 5px 5px #000000;
}

label {
    font-weight: 600;
    color: #f1f1f1;
}

/* FOOTER */
footer p {
    padding: 2rem;
    background-color: #101010;
    color: #f1f1f1;
    text-align: center;
    margin-top: auto;
}